.avartar {
  border: 1px solid red;
  border-radius: 15px;
}
.order-page .order-title .order-title-detail {
  display: flex;
  align-items: center;
}

.order-page .order-title .order-title-detail img {
  margin-right: 10px;
}
